body {
    background: #fff;
}

[v-cloak] {
  display: none;
}

.pre {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.table-name {
    width: 55%;
}

.table-price {
    width: 15%;
}

.table-qty {
    width: 10%;
}

.table-total {
    width: 16%;
}

.table-remove {
    width: 4%;
    background: #fff;
    border-top: 1px solid #fff!important;
    border-right: 1px solid #fff!important;
    border-bottom: 1px solid #fff!important;
}

.table-remove-btn {
    text-align: center;
    display: block;
    height: 44px;
    padding: 12px;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fff;
    color: #C9302C;
    font-weight: bold;
}

.table-empty {
    width: 70%;
    border-left: 1px solid #fff!important;
    border-bottom: 1px solid #fff!important;
}

.table-label {
    width: 10%;
    text-align: right;
}

.table-amount {
    width: 16%;
    text-align: right;
}

.table-text {
    text-align: right;
    display: block;
    height: 44px;
    padding: 12px;
    background: #fff;
}

.table-add_line {
    text-align: left;
    cursor: pointer;
    color: #337AB7;
}
.table-discount {
    padding: 0!important;
}

.table-discount_input {
    text-align: right;
    display: block;
    width: 100%;
    height: 44px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 0px;
    outline: none;
}

.invoice-empty {
    margin: 100px 0;
}

.invoice-empty-title {
    text-align: center;
}

.error {
    color: #a94442;
    margin: 0;
}

.table-error > textarea,
.table-error > input {
    background: #f2dede;
}

.nav-principal{
    background: black;
}

.nav-invoice{
    border-radius: 10px; 
}

.container-principal{
    max-width: 1300px;
}

.div-create{
    padding: 8px;
}

.buttom-create{
    margin-left: 1020px;
}

.buttom-cash-create{
    margin-left: 970px;
}

.div-show{
    padding: 8px;
}

.btn-show{
    margin-left: 950px;
}

.img-uno{
    margin-left: 40px;
}

.label-uno{
    padding-left: 80px;
}

.label-dos{
    padding-left: 92px;
}

.label-tres{
    padding-left: 35px;
}

.label-cuatro{
    padding-left: 110px;
}

.label-cinco{
    padding-left: 70px;
}

.label-seis{
    padding-left: 95px;
}

.firma{
    margin-left: 570px;
    font-weight: bold;
}

.firma2{
    font-weight: bold;
    text-align: center;
}

.green {
    color: #1e7e34;
}

.red {
    color: #bd2130;
}

.label-show{
    font-weight: bold;
}