.i-s-c{
    width: 50%;
    margin-left: 18%;
  }
  
  .t-s-c-1{
    margin-left: 18%;
  }
  
  .t-s-c-2{
    margin-left: 24%;
  }
  
  .t-s-c-3{
    margin-left: 7%;
  }
  
  .t-s-c-4{
    margin-left: 14%;
  }
  
  .t-s-c-5{
    margin-left: 23%;
  }
  
  .t-s-c{
    font-weight: bold;
  }
  
  .f-s-c{
    margin-top: 10%;

  }
  
  .footer{
    display: none;
  }