.i-s-i{
  width: 50%;
  margin-left: 16%;
}

.t-s-i-1{
  margin-left: 18%;
}

.t-s-i-2{
  margin-left: 22%;
}


.t-s-i-4{
  margin-left: 14%;
}

.t-s-i-5{
  margin-left: 21%;
}

.t-s-i{
  font-weight: bold;
}

.f-s-1{
  margin-top: 10%;
  font-weight: bold;
}

.f-s-i{
  text-align: center;

}

.table{
  border: none;
}

.footer{
  display: none;
}